body{
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;  
}

/*------------*/

div.topo{
    text-align: right;
    padding-top: 4%;
    padding-bottom: 4%;
    position: relative;
}

.topo img{
    width: 5%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.topo h1, .topo p{
    position: absolute;
    top: 15%;
    left: 26%;
}

.topo h1{
    font-size: 1.7vw;
}

.topo p{
    left: 26%;
    top: 43%;
    color: blue;
    font-size: 0.9vw;
}

.topo a{
    margin-right: 2%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9vw;
}

a.topo{
    margin-right: 20%;
}


/*------------*/

div.banner {
    background-color: #2f86d6;
    text-align: left;
    padding: 10% 0;
    position: relative;

}

.banner img {
    position: absolute;
    width: 30%;
    top: 10%;
    right: 17%;
}

.banner p, .banner h2 {
    margin-left: 20%;
    margin-right: 50%;
    color: white;
}

.banner p {
    font-size: 1vw;
}

.banner h2 {
    font-size: 2vw;
}

/*------------*/

div.primeiro-anuncio {
    background-color: #22303d;
    padding: 0.1% 0;
    position: relative;
}

.primeiro-anuncio h2, .primeiro-anuncio p {
    margin-left: 20%;
}

.primeiro-anuncio h2 {
    font-size: 2vw;
    color: white;
}

.primeiro-anuncio p {
    margin-top: -1vw;
    font-size: 1vw;
    color: white;
}

.primeiro-anuncio a {
    border: 1px #2f86d6 solid;
    border-radius: 0.4vw;
    background-color: #307cd2;
    padding: 0.7%;
    padding-left: 1.9%;
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 1vw;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.primeiro-anuncio img {
    position: absolute;
    right: 88%;
    top: 30%;
    width: 1.2vw;
}

/*------------*/

div.informacoes{
    padding-bottom: 20%;
    position: relative;
}

.informacoes img{
    width: 10%;
}

.informacoes span{
    color: #2f86d6
}

.informacoes h2{
    text-align: center;    
    padding-top: 6%;
    font-size: 300%;
    width: 57%;
    margin-left: 20%;
    font-size: 1.7vw;
    
}

.informacoes h3{
    margin-left: -5%;
}

/*------------*/

div.primeira {
    position: absolute;
    top: 43%;
    left: 20%;
}

.primeira img, .primeira h3 {
    margin-right: 14%;
}

.primeira img {
    width: 5.5vw;
    margin-left: 20%;
}

.primeira h3 {
    font-size: 1.0vw;
    margin-left: 15%;
}

.primeira p {
    font-size: 1.0vw;
    margin-right: 45%;
    margin-left: -15;
    text-align: center;
}

div.segunda {
    position: absolute;
    top: 42.8%;
    left: 36%;
}

.segunda img, .segunda h3 {
    margin-right: 14%;
}

.segunda img {
    width: 5.5vw;
    margin-left: 42%;
}

.segunda h3 {
    font-size: 1.0vw;
    margin-left: 30%;
}

.segunda p {
    font-size: 1.0vw;
    margin-right: 5%;
    margin-left: 10%;
    text-align: center;
}

div.terceira {
    position: absolute;
    top: 42.8%;
    left: 70%;
}


.terceira img {
    width: 5.5vw;
    margin-left: 0%;
}

.terceira h3 {
    font-size: 1.0vw;
    margin-left: 0%;
}

.terceira p {
    font-size: 1.0vw;
    margin-left: -20%;
    margin-right: 62%;
    text-align: center;
}

/*------------*/

div.planos{
    background-color: #f2f2f1;
    padding-bottom: 45%;
    position: relative;
}


.planos table {
    margin-top: 0.1%;
    width: 59.3vw;
    border: 0.1vw #2f86d6 solid;
    border-radius: 0.4vw;
    box-sizing: border-box;
    box-shadow: 0 0 3vw #2f86d6;
    position: absolute;
    left: 20%;
    text-align: center;
    background-color: white;
    bottom: 14%;
}

.planos img {
    width: 4vw;
    margin-bottom: -8%;
}

.planos th {
    font-size: 0.9vw;
}

.planos p {
    margin-top: 3vw;
    margin-right: 15%;
}

.planos th p {
    font-weight: 400;
}

.planos td {
    font-weight: bold;
    font-size: 0.8vw;
    padding: 2% 0;
}


tr.planos{
    background-color: #f2f2f1;
}

h2.h2-1{
    margin-top: 5%;
}

h2.h2-2{
    margin-top: 0%;
}

h2.h2-3{
    margin-top: 5%;
}

.planos span{
    color: #2f86d6;
}

h2.planos{
    position: absolute;
    bottom: 85%;
    right: 27%;
    font-size: 1.8vw;
}


/*------------*/

div.segundo-anuncio {
    background-color: #2f86d6;
    padding: 0.1% 0;
    position: relative;
    
}

.segundo-anuncio h2 {
    margin-left: 20%;
    margin-right: 44%;
    font-size: 1.7vw;
    color: white;
}

.segundo-anuncio a {
    border: 1px #22303d solid;
    border-radius: 0.4vw;
    background-color: #22303d;
    padding: 0.7%;
    padding-left: 1.9%;
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 1vw;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.segundo-anuncio img {
    position: absolute;
    right: 88%;
    top: 30%;
    width: 1.2vw;
}


/*------------*/

div.contato{
    text-align: center;
    position: relative;
    padding-bottom: 20%;
    background-color: white;
}

.contato img{
    width: 5%;
    top: 10%;
    left: 40%;
    position: absolute;
}


.contato h1{
    position: absolute;
    left: 45.5%;
    top: 7%;
}

p.contato{
    position: absolute;
    left: 25.5%;
    top: 20%;
    color: #2f86d6;
}

/*------------*/

div.rodape{
    position: absolute;
    left: 25%;
    top: 40%;
    width: 40%; 
    font-size: 1vw;
}

.contato h1{
    font-size: 2vw;
}

p.contato{
    position: absolute;
    left: 45.5%;
    font-size: 1vw;
}

/*------------*/

div.ultima{
    width: 100%;
    text-align: center;
    background-color: #f2f2f1;
    padding-bottom: 2%;
    position: relative;
}

.ultima p{
    position: absolute;
    right: 48%;
    font-size: 1vw;
    top: -30%;
}

.ultima span{
    color: #2f86d6;
}


